/.dart_tool/
/.idea/
/build/
/.vscode/
!/pubspec.lock
!/.packages
!/.flutter-plugins-dependencies
!/.flutter-plugins

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
